
test1.csv
test1.csv
results.csv
results.csv
*.csv
New Compressed (zipped) Folder.zip
Parametric/ParametricQuickExamples.xlsx
storedTrainingVariables12-25.mat
storedTrainingVariables12-15.mat
storedTrainingVariables12-35.mat
storedTrainingVariables34-15.mat
storedTrainingVariables34-25.mat
storedTrainingVariables34-35.mat
storedTrainingVariables12ALL.mat
storedTrainingVariables34ALL.mat
storedTrainingVariables56-15.mat
storedTrainingVariables56-25.mat
storedTrainingVariables56-35.mat
storedTrainingVariables56ALL.mat
storedTrainingVariables.mat
storedTrainingVariables35.mat
OLDstoredTrainingVariables12-25.mat
OLDstoredTrainingVariables56-25.mat
OLDstoredTrainingVariables34-25.mat
OLDstoredTrainingVariablesBroken.mat
*.fig
*.fig
ImageProcessing/ADistandTime.mat
ImageProcessing/BDistandTime.mat
ImageProcessing/CDistandTime.mat
ImageProcessing/DDistandTime.mat
ImageProcessing/EDistandTime.mat
ImageProcessing/ETESTDistandTime.mat
*.png
storedAllDataVariables.mat
storedTrainingVariables100PCONLY.mat
storedTrainingVariables35ORIGINALWRONGFLOW.mat
storedTrainingVariables50.mat
storedTrainingVariables50PCONLY.mat
storedTrainingVariablesBEN25.mat
storedTrainingVariablesFIRSTHALF.mat
ImageProcessing/Graphs1_6_24.zip
PythonLog.txt
BestModel-PreviousWork/saved_model.pb
BestModel - 10Particles5-6-23/BestModel/keras_metadata.pb
BestModel - 10Particles5-6-23/BestModel/saved_model.pb
BestModel - 10Particles5-6-23/BestModel/variables/variables.data-00000-of-00001
BestModel - 10Particles5-6-23/BestModel/variables/variables.index
BestModel-BENONLY/keras_metadata.pb
BestModel-BENONLY/saved_model.pb
BestModel-BENONLY/variables/variables.data-00000-of-00001
BestModel-BENONLY/variables/variables.index
BestModel-OLDBUTWORKS/keras_metadata.pb
BestModel-OLDBUTWORKS/saved_model.pb
BestModel-OLDBUTWORKS/variables/variables.data-00000-of-00001
BestModel-OLDBUTWORKS/variables/variables.index
BestModel-PreviousWork/keras_metadata.pb
BestModel-PreviousWork/variables/variables.data-00000-of-00001
BestModel-PreviousWork/variables/variables.index
BestModel/keras_metadata.pb
BestModel/saved_model.pb
BestModel/variables/variables.data-00000-of-00001
BestModel/variables/variables.index
dt.mat
ExampleTunedDataFile.mat
particlePAthsAll.mat
storedAllDataVariablesOLD.mat
BestModel/keras_metadata.pb
BestModel/saved_model.pb
BestModel/variables/variables.data-00000-of-00001
BestModel/variables/variables.index
dt.mat
ExampleTunedDataFile.mat
BestModel/keras_metadata.pb
BestModel/saved_model.pb
BestModel/variables/variables.data-00000-of-00001
BestModel/variables/variables.index
dt.mat
ExampleTunedDataFile.mat
